p ,label,li{
    font-size:.86857em;
}
p {
    font-size:.86857em;
}
.typecho-label {
    font-size:.86857em;
}
.primary ,.btn-s{
    height: 32px;
    padding-top: 5px;
}
.btn-outline-secondary span{
    font-size: .812rem;
}
